body {
  background-color: #e6ecf0;
}

/* Nav */

.navbar {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar a {
  font-weight: bold;
  color: #2b2b2b;
  transition: all .3s;
}

.navbar a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.navbar-brand > img {
  display: inline-block;
  width: 20px;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 2px;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
}

.onboarding > .navbar {
  background: #abbaab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ffffff, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ffffff, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}